.about-section {
  padding: 5rem 2rem;
  background-color: #fbfcee;
  border-radius: 15px;
  text-align: center;
  max-width: 900px;
  margin: 5rem auto;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.551);
  transform: rotate(-2deg);
}
.dark .about-section {
  background-color: #fbfcee8f;
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.288);
}
.about-section h2 {
  font-size: 2.5rem;
  color: #514d4d;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}
.about-section h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #cf9230;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}
.about-section p {
  max-width: 750px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.9;
  color: #1f1f1f;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: justify;
  text-justify: inter-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.about-section a {
  color: #905515;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 768px) {
  .about-section {
    padding: 3rem 1.5rem;
    margin: 2rem 0.5rem;
    transform: rotate(0deg);
  }

  .about-section h2 {
    font-size: 2rem;
  }
  .about-section p {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .about-section p {
    font-size: 1rem;
  }
  .about-section h2 {
    font-size: 1.5rem;
  }
}
