.certification-section {
  padding: 4rem 2rem;
  background-color: #fbfcee;
  border-radius: 15px;
  text-align: center;
  max-width: 800px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.551);
}
.certification-section h2 {
  font-size: 2.5rem;
  color: #514d4d;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.certification-section h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #cf9230;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.cert-card {
  background-color: #f8f8f800;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cert-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(14, 78, 138, 0.663);
}

@media (max-width: 768px) {
  .certification-section {
    padding: 3rem 1.5rem;
    margin: 2rem 0.5rem;
  }

  .certification-section h2 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .certification-section h2 {
    font-size: 1.5rem;
  }
  .cert-card {
    font-size: 0.8rem;
  }
}
