.contact-section {
  padding: 5rem 2rem;
  background: linear-gradient(to left, #ffffff, #ffffff81);
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.551);
  transform: rotate(-2deg);
}

.contact-title {
  font-size: 2.5rem;
  color: #1a1a1a;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.contact-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #cf9230;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}
.contact-card {
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.contact-icon {
  font-size: 2.5rem;
  color: #0a0c2e;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.contact-detail {
  color: #09544b;
  margin: 0.8rem 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  font-size: 1.8rem;
}

.contact-detail:hover {
  color: #03071b;
  transform: scale(1.2);
  transition: color 0.3s ease, transform 0.3s ease;
  text-shadow: #67e76078 0px 0px 5px;
}
.contact-icon:hover {
  color: #cf9230;
  transition: color 0.3s ease, transform 0.3s ease;
  transform: scale(1.2);
  text-shadow: #09544b 0px 0px 5px;
}

@media (max-width: 768px) {
  .contact-section {
    padding: 3.5rem 1.5rem;
    margin: 20px 20px 20px 20px;
    transform: rotate(0deg);
  }

  .contact-title {
    font-size: 2rem;
  }

  .contact-detail {
    font-size: 1.2rem;
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  .contact-title {
    font-size: 1.75rem;
  }

  .contact-detail {
    font-size: 1rem;
  }
}
