.contact-section {
  padding: 4rem 1.5rem;
  background-color: #d8d8d8;
  margin-top: 10rem;
  border-radius: 100px 100px 0 0;
}

.contact-container {
  max-width: 1100px;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

/* --- LEFT SIDE: TEXT + ICONS --- */
.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-title {
  font-size: 3rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact-description {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.contact-grid {
  display: flex;
  gap: 1.5rem;
}

.contact-icon {
  font-size: 2.5rem;
  color: #5b84c2;
  transition: 0.3s ease;
}

.contact-icon:hover {
  color: #81b94a;
  transform: scale(1.1);
}

/* --- RIGHT SIDE: FORM --- */
.contact-form {
  flex: 1;
  background: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dark .contact-form {
  background-color: #484e594a;
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.288);
}

.form-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 600;
}

.form-input,
.form-textarea {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: 0.2s ease;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #5b84c2;
}

.form-textarea {
  height: 130px;
  resize: none;
}

.form-button {
  padding: 0.9rem;
  background-color: #5b84c2;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-button:hover {
  background-color: #81b94a;
}

/* --- RESPONSIVE DESIGN --- */
@media (max-width: 768px) {
  .contact-section {
    margin-top: 8rem;
  }
  .contact-container {
    flex-direction: column;
    text-align: center;
  }
  .contact-title {
    font-size: 2.5rem;
  }
  .contact-description {
    font-size: 1.1rem;
  }
  .contact-grid {
    justify-content: center;
  }
  .contact-icon {
    font-size: 2.2rem;
  }
  .contact-form {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .contact-section {
    margin-top: 6rem;
  }
  .contact-title {
    font-size: 2rem;
  }

  .contact-icon {
    font-size: 2rem;
  }

  .contact-form {
    padding: 1.5rem;
  }
  .form-input,
  .form-textarea {
    font-size: 0.9rem;
    padding: 0.8rem;
  }
  .form-button {
    font-size: 1rem;
    padding: 0.8rem;
  }
}
