.contact-section {
  padding: 4rem 2rem;
  background-color: rgb(245, 245, 220);
  margin: 10rem auto 0 auto;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.551);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-left {
  text-align: center;
  background-color: #7b80d2;
  flex: 1;
  padding: 2rem;
}
.contact-title {
  font-size: 2.5rem;
  color: #514d4d;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}
.contact-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #cf9230;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}
.contact-description {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 2rem;
}
.contact-grid {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.contact-item {
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  border: 2px solid #cf9230;
}
.contact-icon {
  font-size: 2.5rem;
  color: #0a0c2e;
}
.contact-right {
  text-align: center;
  background-color: #24a2b0;
  flex: 1;
  padding: 2rem;
}
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #514d4d;
}
.form-input,
.form-textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.form-button {
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #cf9230;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form-button:hover {
  background-color: #b07a24;
}

