.gl-section {
  padding: 4rem 2rem;
  background-color: #fbfcee;
  border-radius: 15px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.551);
}
.dark .gl-section {
  background-color: #fbfcee8f;
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.288);
}

/* ====== TITLES ====== */
.gl-title {
  font-size: 2.5rem;
  color: #514d4d;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.gl-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #cf9230;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.gl-subtitle {
  font-size: 1.9rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #333;
}

/* ====== GRID ====== */
.gl-grid {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

/* ====== CARDS ====== */
.gl-card {
  padding: 0.9rem 1.2rem;
  background: #ffffffd6;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.gl-card:hover {
  transform: translateX(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/* ====== ICONS ====== */
.gl-icon {
  font-size: 1.6rem;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0529cbcf;
}

/* ====== TEXT ====== */
.gl-name {
  font-size: 1.05rem;
  font-weight: 600;
  color: #333;
}

/* Star rating */
.gl-level {
  margin-right: auto;
  font-size: 0.9rem;
  color: #3b87eae2;
}
.collaborate-note {
  margin-top: 2rem;
  font-size: 1.1rem;
  color: #053eb9;
  font-style: italic;
  text-shadow: 0 0 1px rgb(215, 212, 210);
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
  .gl-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .gl-subtitle {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .gl-category {
    font-size: 1.25rem;
  }

  .gl-card {
    padding: 1.7rem 1rem;
  }

  .gl-icon {
    font-size: 2rem;
  }
  .collaborate-note {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .gl-title {
    font-size: 1.5rem;
  }

  .gl-subtitle {
    font-size: 1rem;
  }

  .gl-grid {
    gap: 1rem;
  }

  .gl-card {
    padding: 1rem 0.8rem;
    min-height: 80px;
  }

  .gl-name {
    font-size: 0.8rem;
  }

  .gl-level {
    font-size: 0.8rem;
  }
  .collaborate-note {
    font-size: 0.9rem;
  }
}
