.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 100%;
  margin-bottom: 4rem;
}
.explore-button-wrapper {
  position: absolute;
  left: 10%;
  bottom: 30%;
  z-index: 20;
}
.explore-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: rgb(20, 20, 20);
  background-color: rgba(255, 255, 255, 0.592);
  border: 1px solid #556459f5;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 10px 10px rgba(157, 226, 9, 0.387);
}
.explore-button:hover {
  transform: scale(0.97);
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 1024px) {
  .hero-container {
    height: 100vh;
  }
}
@media (max-width: 768px) {
  .hero-container {
    height: 80vh;
  }
}
@media (max-width: 480px) {
  .hero-container {
    height: 60vh;
  }
}
