.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-bottom: 4rem;
}

.my-image {
  width: 250px;
  height: 300px;
  border-radius: 10%;
  object-fit: cover;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease;
  position: relative;
  z-index: 1;
}

.my-image:hover {
  transform: scale(1.3) rotate(360deg);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(157, 3, 3, 0.288);
  cursor: pointer;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .image-container {
    margin-bottom: 5rem;
  }
  .my-image {
    width: 200px;
    height: 260px;
  }
}

@media (max-width: 480px) {
  .image-container {
    margin-bottom: 3rem;
  }
  .my-image {
    width: 140px;
    height: 170px;
  }
}
