.layout {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  max-width: 1200px;
  margin: 5rem auto;
  transform: rotate(-2deg);
}

.layout-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.layout-right {
  flex: 2;
  display: flex;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    transform: rotate(0deg);
  }

  .layout-left,
  .layout-right {
    width: 100%;
  }
}
