.lang-container {
  padding: 4rem 2rem;
  background-color: #fbfcee;
  border-radius: 15px;
  text-align: center;
  max-width: 800px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.551);
}

.lang-title {
  font-size: 2.2rem;
  color: #514d4d;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}
.lang-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #cf9230;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.lang-item {
  margin-bottom: 22px;
}

.lang-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.lang-name {
  font-size: 20px;
  font-weight: 600;
}

.lang-level {
  font-size: 16px;
  opacity: 0.8;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #3bd6eae2, #0529cbcf);
  border-radius: 10px;
  transition: width 1.2s ease-out;
}
@media (max-width: 768px) {
  .lang-container {
    padding: 3rem 1.5rem;
    margin: 2rem 0.5rem;
  }

  .lang-title {
    font-size: 2rem;
  }

  .lang-name {
    font-size: 1.1rem;
  }

  .lang-level {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .lang-title {
    font-size: 1.5rem;
  }

  .lang-name {
    font-size: 0.9rem;
  }

  .lang-level {
    font-size: 0.8rem;
  }
}
