.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  position: relative;
  z-index: 50;
  background: rgba(255, 255, 255, 0.063);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.nav-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s ease;
}

.nav-button:hover {
  color: #82d00d;
  transform: scale(1.1);
  text-decoration: underline;
}
@media (max-width: 768px) {
  .nav-links {
    gap: 1rem;
  }

  .nav-button {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
  }
  .nav-button {
    font-size: 0.9rem;
  }
}