.resume-section {
  padding: 4rem 2rem;
  background: linear-gradient(to left, #ffffff, #ffffff81);
  border-radius: 15px;
  text-align: center;
  max-width: 800px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.551);
}

.resume-section h2 {
  font-size: 2.5rem;
  color: #514d4d;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.resume-section h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #cf9230;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.resume-section p {
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto;
  color: #444;
  line-height: 1.6;
}
.download-btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #18778f;
  color: rgb(255, 255, 255);
  border-radius: 80px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}
.download-btn:hover {
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .resume-section {
    padding: 3rem 1.5rem;
    margin: 2rem 0.5rem;
  }

  .resume-section h2 {
    font-size: 2rem;
  }

  .resume-section p {
    font-size: 1rem;
    padding: 0 1rem;
  }
  .download-btn {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .resume-section h2 {
    font-size: 1.5rem;
  }

  .resume-section p {
    font-size: 0.8rem;
  }
  .download-btn {
    font-size: 0.9rem;
  }
}
