.waves-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;    /* Behind all content */
  overflow: hidden;
  pointer-events: none; /* Prevents blocking clicks */
  box-shadow: inset 0 0 150px rgba(217, 214, 228, 0.843);
}

.waves-dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: rgba(124, 106, 106, 0.077);
  border-radius: 50%;
  transform: translate3d(calc(var(--x) - 50%), calc(var(--y) - 50%), 0);
  will-change: transform;
}

.waves-canvas {
  display: block;
  width: 100%;
  height: 100%;
}
