.welcome-section {
  position: absolute;
  top: 40%;
  left: 5%; /* Move to left */
  transform: translateY(-50%);
  background: transparent;
}
.welcome-title {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
  animation: wave 4s infinite alternate;
  text-shadow: 1px 1px 1px rgb(145, 0, 0);
}
.welcome-subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #b3ff00;
  text-shadow: 0 1px 25px rgb(4, 4, 4);
}

@media (max-width: 768px) {
  .welcome-section {
    padding: 2rem 1.5rem;
    margin-bottom: 9rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .welcome-title {
    font-size: 1.4rem;
  }
  .welcome-subtitle {
    font-size: 1rem;
  }
  .welcome-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .welcome-section {
    padding: 1.5rem 1rem;
    margin-bottom: 5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .welcome-title {
    font-size: 1.2rem;
  }
  .welcome-title span {
    font-size: 1.5rem;
  }
  .welcome-subtitle {
    font-size: 0.9rem;
  }
  .welcome-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}

@keyframes wave {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
