.welcome-section {
  position: absolute;
  top: 30%;
  left: 5%; /* Move to left */
  transform: translateY(-50%);
  background: transparent;
}
.welcome-title {
  font-size: 5rem;
  font-weight: 700;
  color: #ffffff;
  animation: wave 4s infinite alternate;
  text-shadow: 1px 1px 1px rgb(145, 0, 0);
}
.welcome-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #b3ff00;
  text-shadow: 0 1px 25px rgb(4, 4, 4);
  animation: fading 3s ease-in-out;
}

@media (max-width: 768px) {
  .welcome-section {
    padding: 2rem 1.5rem;
    margin-bottom: 9rem;
    margin-right: 2rem;
    margin-left: 1rem;
  }
  .welcome-title {
    font-size: 3rem;
  }
  .welcome-subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .welcome-section {
    padding: 1.5rem 1rem;
    margin-bottom: 5rem;
    margin-left: 0;
  }
  .welcome-title {
    font-size: 1.3rem;
  }
  .welcome-subtitle {
    font-size: 0.8rem;
    color: #ffffff;
    text-shadow: 0 0 1px rgb(132, 204, 8);
  }
  .welcome-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}

@keyframes wave {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
