.services-hero-section {
  position: relative;
  background: url('../../assets/ServicesHero.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.services-hero-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  text-align: center;
}
.services-hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}
.services-hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.services-hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.services-hero-btn {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.services-hero-btn.primary {
  background-color: #ff5733;
  color: #fff;
}   
.services-hero-btn.primary:hover {
  background-color: #e74d3c8e;
}
.services-hero-btn.secondary {
  background-color: #333;
  color: #fff;
}
.services-hero-btn.secondary:hover {
  background-color: #555;
}
.Back-to-Portfolio-button-container {
  margin-top: 20px;
}
.Back-to-Portfolio-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}
.Back-to-Portfolio-button:hover {
  background-color: #0056b3;
}