.services-hero-section {
  position: relative;
  background: url('../../assets/ServicesHero-img.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-hero-overlay {
  background-color: rgba(0, 0, 0, 0.547);
  padding: 40px;
  text-align: center;
}
.services-hero-title {
  font-size: 4rem;
  margin-bottom: 3rem;
  color: #f4da30;
}
.dark .services-hero-title {
  color: #a6a6a5;
}
.services-hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #ffffff;
}
.services-hero-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.services-hero-btn {
  padding: 15px 30px;
  font-size: 1rem;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services-hero-btn.primary {
  background-color: #f4da30;
  color: #000000;
} 
.dark .services-hero-btn.primary {
  background-color: #a6a6a5;
}  
.services-hero-btn.primary:hover {
  background-color:transparent;
  color: #f4da30;
  border: 1px solid #f4da30;
}
.services-hero-btn.secondary {
  background-color: #474747;
  color: #f4da30;
}
.dark .services-hero-btn.secondary {
  color: #000000;
}
.services-hero-btn.secondary:hover {
  background-color:transparent;
  color: #f4da30;
  border: 1px solid #f4da30;
}
.Back-to-Portfolio-button-container {
  bottom:1%;
  left:1%;
  position: absolute;
}
.Back-to-Portfolio-button {
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 50px 1px 1px 50px;
  border: none;
  cursor: pointer;
  background-color: #b7c0d3f5;
  color: #580c84;
  transition: all 0.3s ease;
}
.Back-to-Portfolio-button:hover {
  background-color: #000000;
  color: #c085e2;
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .services-hero-overlay {
    padding: 20px;
  }
  .services-hero-title {
    font-size: 2.5rem;
  }
  .services-hero-subtitle {
    font-size: 1.1rem;
  }
  .services-hero-buttons {
    gap: 1rem;
  }
  .services-hero-btn {
    padding: 10px 20px;
  }
  .Back-to-Portfolio-button {
    padding: 10px 15px;
  }
}
@media (max-width: 480px) {
  .services-hero-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .services-hero-subtitle {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }
  .services-hero-buttons {
    flex-direction: column;
    gap: 1rem;
  }
  .services-hero-btn {
    font-size: 0.9rem;
  }
  .Back-to-Portfolio-button {
    font-size: 0.9rem;
  }
}