.about-section {
  padding: 5rem 2rem;
  background: linear-gradient(to left, #ffffff, #edf5fbad);
  border-radius: 15px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.551);
  direction: rtl;
}
.about-section h2 {
  font-size: 2.5rem;
  color: #514d4d;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}
.about-section h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #cf9230;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}
.about-section p {
  max-width: 750px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.75;
  color: #1f1f1f;
  font-weight: 400;
  letter-spacing: 0.2px;

  /* modern touch */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.about-section a {
  color: #905515;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 768px) {
  .about-section {
    padding: 3.5rem 1.5rem;
  }

  .about-section h2 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .about-section p {
    font-size: 1rem;
  }
  .about-section h2 {
    font-size: 1.75rem;
  }
}
