.hero-section {
  max-width: 800px;
  margin: 15rem auto;
  padding: 3rem 2.5rem;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 10px rgba(146, 201, 18, 0.145);
  text-align: center;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  transition: transform 0.3s ease;
  background: #f9f9f978
}
.hero-title {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #313131dc;
}
.hero-title span {
  color: #edededf4;
  font-size: 3.2rem;
}
.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #000000;
}
.hero-button {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  color: #fff;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.hero-button:hover {
  transform: scale(1.07);
  cursor: pointer;
  color: rgb(25, 208, 34);
}
@media (max-width: 600px) {
  .hero-section {
    padding: 2rem 1.5rem;
    margin: 8rem auto;
  }
  .hero-title {
    font-size: 1.4rem;
  }
  .hero-subtitle {
    font-size: 0.9rem;
  }
  .hero-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
