.hero-section {
  max-width: 800px;
  margin-top: 10rem;
  margin-bottom: 15rem;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem 2.5rem;
  border-radius: 1px 70px 1px 70px;
  box-shadow: 1px 1px 10px 10px rgba(146, 201, 18, 0.145);
  text-align: center;
  line-height: 1.6;
  transition: transform 0.3s ease;
  background: #ffffff;
}
body.dark .hero-section {
  background: linear-gradient(to right, #6a7784, #ffffff);
}
.hero-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #313131dc;
  animation: wave 3s infinite alternate;
  text-shadow: 1px 1px 10px rgba(165, 221, 9, 0.894);
}
.hero-title span {
  color: #edededf4;
  font-size: 3.2rem;
  text-shadow: 1.5px 1.5px 0 #060b25;
}
.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #000000;
}
.hero-button {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  color: #000000;
  text-shadow: 1px 1px 2px #ffffff;
  border: 1px solid #55645957;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
body.dark .hero-button {
  background-color: #417e915c;
  color: #000000;
  border: 1px solid #2c3e507d;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

.hero-button:hover {
  transform: scale(0.97);
  cursor: pointer;
  color: rgb(9, 109, 100);
  background-color: rgba(0, 0, 0, 0.03);
}
@media (max-width: 768px) {
  .hero-section {
    padding: 2rem 1.5rem;
    margin-bottom: 9rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .hero-title {
    font-size: 1.4rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
  .hero-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .hero-section {
    padding: 1.5rem 1rem;
    margin-bottom: 5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .hero-title {
    font-size: 1.2rem;
  }
  .hero-title span {
    font-size: 1.5rem;
  }
  .hero-subtitle {
    font-size: 0.9rem;
  }
  .hero-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}

@keyframes wave {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
