.image-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.my-image {
  width: 300px;
  height: 379px;
  border-radius: 20px;
  background: url("../assets/my-image.jpg") center center no-repeat;
  background-size: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background 0.85s ease, background-size 0.85s ease;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-image:hover {
  background: url("../assets/my-image.jpg") left center no-repeat;
  background-size: 700px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
@media (max-width: 768px) {
  .image-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .my-image {
    width: 250px;
    height: 315px;
    background-size: 250px;
  }
  .my-image:hover {
    background-size: 570px;
  }
}

@media (max-width: 480px) {
  .image-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .my-image {
    width: 140px;
    height: 170px;
    background-size: 140px;
  }
  .my-image:hover {
    background-size: 320px;
  }
}

/* .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.my-image {
    width: 250px;
    height: 300px;
    border-radius: 20%;
    object-fit: cover;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.my-image:hover {
    transform: scale(1.3);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(157, 3, 3, 0.288);
    cursor: pointer;
}

@media (max-width: 768px) {
    .my-image {
        width: 200px;
        height: 260px;
    }
}

@media (max-width: 480px) {
    .my-image{
        width: 140px;
        height: 170px;
    }
} */
