.layout {
  display: flex;
  gap: 20px;
  padding: 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
  rotate: -3deg;
}

.layout-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.layout-right {
  flex: 2;
  display: flex;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .layout-left,
  .layout-right {
    width: 100%;
  }
}
