.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  gap: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
  z-index: 999;
}

.scroll-to-top:hover {
  transform: scale(1.1);
}
