.theme-toggle-container {
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 5px;
}
.theme-toggle {
  width: 25px;
  height: 25px;
  object-fit: cover;
  display: block;
  background: none;
  border: none;
}

.theme-toggle-container:hover {
  box-shadow: 0 0 8px rgba(139, 221, 39, 0.935);
  transform: scale(1.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
@media (max-width: 768px) {
  .theme-toggle-container {
    top: 10px;
    right: 10px;
    gap: 8px;
    padding: 2px 8px;
  }
}
