.certification-section {
  padding: 60px 20px;
  margin: auto;
  text-align: center;
  background: #ffffff;
}
.dark .certification-section {
  background: #4a5a7b4a;
}

.certification-section h2 {
  font-size: 2.2rem;
  margin-bottom: 30px;
  color: #222;
}
.dark .certification-section h2 {
  color: #f0f0f0;
}

.cert-card {
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 44% 56% 65% 35%/57% 58% 42% 43%;
  transition: all 0.25s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 650px;
  margin: auto;
  border-left: 6px solid #55d400;
  border-right: 6px solid #55d400;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.139);
}

.cert-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.cert-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.434);
}

.cert-link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .cert-card {
    padding: 20px;
    flex-direction: column;
    text-align: center;
    gap: 12px;
  }

  .cert-title {
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  .certification-section h2 {
    font-size: 1.8rem;
  }

  .cert-card {
    padding: 15px;
  }

  .cert-title {
    font-size: 1rem;
  }
}





/* .certification-section {
  padding: 4rem 2rem;
  background-color: #fbfcee;
  border-radius: 15px;
  text-align: center;
  max-width: 800px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.551);
}
.dark .certification-section {
  background-color: #fbfcee8f;
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.288);
}
.certification-section h2 {
  font-size: 2.5rem;
  color: #514d4d;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.certification-section h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #cf9230;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.cert-card {
  background-color: #f8f8f800;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cert-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(14, 78, 138, 0.663);
}

@media (max-width: 768px) {
  .certification-section {
    padding: 3rem 1.5rem;
    margin: 2rem 0.5rem;
  }

  .certification-section h2 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .certification-section h2 {
    font-size: 1.5rem;
  }
  .cert-card {
    font-size: 0.8rem;
  }
} */
