.contact-section {
  padding: 80px 20px;
  background-color: #caedff;
  border-radius: 100% 0% / 8%;
}
.dark .contact-section {
  background-color: #86a1b4;
}

.contact-container {
  max-width: 1100px;
  margin: 1rem auto;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.contact-title {
  font-size: 2.2rem;
  margin-bottom: 15px;
  color: #222;
  font-weight: 700;
  text-align: center;
}

.dark .contact-title {
  color: #f0f0f0;
}

.contact-description {
  font-size: 1.05rem;
  color: #555;
  margin-bottom: 25px;
  line-height: 1.6;
  text-align: center;
}

.contact-grid {
  display: flex;
  gap: 18px;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-icon {
  font-size: 1.7rem;
  color: #333;
  padding: 12px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
}

.contact-icon:hover {
  transform: translateY(-4px);
  color: #00acc1;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.12);
}

.contact-form {
  width: 700px;
  height: auto;
  background: #07182e00;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  flex: 1;
  overflow: hidden;
  padding: 10px;
  flex-direction: column;
}

.contact-form::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 300%;
  background: linear-gradient(180deg, #00ffff, #ff00ff);
  animation: rotate 20s linear infinite;
  z-index: -1;
}

.contact-form::after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 16px;
  background: #caedff;
  z-index: -1;
  box-shadow: 0 0 40px rgba(155, 155, 155, 0.2);
}

.form-title {
  font-size: 1.5rem;
  margin: 20px;
  color: #222;
  font-weight: 600;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 14px;
  margin: 18px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  background: #fafafac0;
  transition: border 0.25s ease, background 0.25s;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #00acc1;
  background: #fff;
}

.form-textarea {
  height: 130px;
  resize: none;
}

.form-button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #00bcd4, #008c9e);
  color: #fff;
  font-size: 1.05rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
  margin: 10px;
}

.form-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  color: #353535;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
  }

  .contact-title {
    font-size: 1.9rem;
  }

  .contact-form {
    width: 450px;
  }
}

@media (max-width: 480px) {
  .contact-title {
    font-size: 1.7rem;
  }

  .contact-icon {
    font-size: 1.5rem;
    padding: 10px;
  }
  .contact-form {
    width: 300px;
    padding: 10px;
  }
  .form-title {
    font-size: 1.3rem;
  }
  .form-input,
  .form-textarea {
    font-size: 0.9rem;
  }

  .form-button {
    font-size: 1rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
