.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-bottom: 4rem;
}
.hero-navbar-wrapper {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  width: 100%; /* optional */
  display: flex;
  justify-content: center;
}

.explore-button-wrapper {
  position: absolute;
  left: 20%;
  bottom: 20%;
  z-index: 20;
}
.explore-button {
  display: inline-block;
  padding: 0.75rem 2rem;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.813);
  border: 1px solid #556459f5;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  /* box-shadow: 0 0 10px 10px rgba(157, 226, 9, 0.352); */
  animation: pulse 2s infinite;
  /* corner-shape: scoop; */
  /* corner-shape: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%); */
  /* clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 10% 50%); */
}
.dark .explore-button {
  color: #cecece;
  background-color: rgba(84, 82, 82, 0.095);
}
.explore-button:hover {
  transform: scale(0.97);
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 10px rgba(212, 75, 65, 0.55);
}

@media (max-width: 768px) {
  .explore-button-wrapper {
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
  }
  .explore-button {
    font-size: 0.9rem;
    padding: 0.6rem 1.5rem;
  }
}
@media (max-width: 480px) {
  .explore-button-wrapper {
    bottom: 5%;
  }
  .explore-button {
    font-size: 0.8rem;
    padding: 0.5rem 1.2rem;
  }
  .hero-navbar-wrapper {
    position: absolute;
    top: 40%;
    left: 15%;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 10px 7px rgba(157, 226, 9, 0.352);
  }
  50% {
    box-shadow: 0 0 20px 12px rgba(157, 226, 9, 0.552);
  }
  100% {
    box-shadow: 0 0 10px 7px rgba(157, 226, 9, 0.352);
  }
}