@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  /* --font-main: "Inter, Arial, Helvetica, sans-serif"; */
  --color-text: #333;
  --color-background: rgb(32, 121, 137);
}
html[lang="fa"] body {
  font-family: "Vazirmatn, Arial, Helvetica, sans-serif";
  direction: rtl;
}
html[lang="en"] body {
  font-family: "Inter, Arial, Helvetica, sans-serif";
  direction: ltr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */
button {
  cursor: pointer;
  font-family: inherit;
}

/* Light mode preference */
@media (prefers-color-scheme: light) {
  :root {
    --color-text: #111;
  }
}
