/* Import Comic Neue font */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
/* Import Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
/* Import Vazir font */
@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.0.0/dist/font-face.css');

:root {
  --color-text: #333;
  --color-background: rgb(32, 121, 137);
}
html[lang="fa"] body {
  font-family: 'Vazir', sans-serif;
  direction: ltr;
  text-align: left;
}
html[lang="en"] body, html[lang="du"] body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  direction: ltr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}
/* Headings use Comic Neue */
h1, h2, h3 {
  font-family: 'Comic Neue', cursive;
  font-weight: 700; /* makes it bold and fun */
}


/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */
button {
  cursor: pointer;
  font-family: inherit;
}

/* Light mode preference */
@media (prefers-color-scheme: light) {
  :root {
    --color-text: #111;
  }
}
